_site/*
.jekyll-metadata
*~
assets/slides/~*.pptx
*.mov
*.mp4
*/.DS_Store
*/*/.DS_Store
assets/slides/old/*
r2d2_assignments/hw1/autograder/
r2d2_assignments/hw2/autograder/
r2d2_assignments/hw3/autograder/
r2d2_assignments/hw3/solutions/
r2d2_assignments/hw4/r2d2_hw4_solutions.py
